<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.otg">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PocketOrder | Login</title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css"
          th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}"
          rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css"
          th:href="@{/vendors/font-awesome/css/font-awesome.min.css}"
          rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css"
          th:href="@{/vendors/nprogress/nprogress.css}"
          rel="stylesheet">
    <!-- Animate.css -->
    <link href="../vendors/animate.css/animate.min.css"
          th:href="@{/vendors/animate.css/animate.min.css}"
          rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css"
          th:href="@{/build/css/custom.min.css}"
          rel="stylesheet">

    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous">

    </script>

  </head>



  <body class="login">


    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form method="post" action="/user/login">
              <h1 id="headerTag">Login</h1>
                <input id="username" name="username" type="text" class="form-control" placeholder="Username" required="" />
                <input id="password" name="password" type="password" class="form-control" placeholder="Password" required="" />
                <!--<button type="submit">login!</button>-->
                <button type="submit" class="btn btn-default submit">Log in</button>
                <a class="reset_pass" href="#">Lost your password?</a>

              <div>
                <!--<a class="btn btn-default submit">Log in</a>-->
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">New to site?
                  <a href="#signup" class="to_register"> Create Account </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-glass"></i> PocketOrder</h1>
                  <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                </div>
              </div>
            </form>
          </section>
        </div>

        <div id="register" class="animate form registration_form">
          <section class="login_content">
            <form>
              <h1>Have no account?</h1>
              <div>
              <h3>Ask your supervisor to add you to the system.</h3>
              </div>
              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Have an account?
                  <a href="#signin" class="to_register"> Log in </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-glass"></i> PocketOrder</h1>
                  <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
